/* Dropdown Button */
.dropbtn {
	width:100%;
    background-color: #fb4669;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus { 
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	z-index:10;
	width:20%;
    position: fixed;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	width:99.5%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
	border: 1px solid black;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.c25, .c9, .c5, .c30, .c11, .c15{
	width:60%;
	margin:auto;
	text-align:center;
}
html{
	background-color:#E0E0E0;
}
img{
	margin:auto;
}